[submodule "reveal"]
	path = reveal
	url = https://github.com/hakimel/reveal.js
[submodule "reveal.js-menu-2.1.0"]
	path = reveal.js-menu-2.1.0
	url = https://github.com/denehyg/reveal.js-menu
[submodule "reveal.js-4.5.0"]
	path = reveal.js-4.5.0
	url = https://github.com/hakimel/reveal.js
[submodule "reveal.js-5.1.0"]
	path = reveal.js-5.1.0
	url = https://github.com/hakimel/reveal.js
